<!-- <!DOCTYPE html> -->
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HBS</title>
    <link rel="stylesheet" href="/assets/css/assignRoleStyle.css">
</head>
<body>
    <div class="login-box">
        <img class="avatar" src="assets/images/logo.png" alt="Logo">
        <h1>Asignar Role</h1>

        <form id="updaterole-form">
             <!-- email -->
             <label for="email">Email</label>
             <input type="text" id="email"  name="email" placeholder="Enter email">

            <label for="newRole">Role</label>
             <input type="text" id="newRole" name="newRole" placeholder="Enter role -> 'user'|'user-premium'|'admin'">

             <button id="btn-register" type="submit">Asignar</button>
             <button id="btn-back" type="button">Volver</button>


        </form>
    </div>
     <script src="/assets/js/assignRoleScripts.js"></script> 
      <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</body>
<!-- </html> -->