<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HBS</title>
    <link rel="stylesheet" href="/assets/css/cartStockStyle.css">
</head>
<body>
<!-- ********* MENU SUPERIOR *********-->
    <header class="header">
        <div class="menu container">
                <img src="/assets/images/logo.png" alt="Logo" class="logo-img"> 
            <input type="checkbox" id="menu"/>
            <label for="menu">
                <img src="/assets/images/menu.png" class="menu-icono" alt="menu">
            </label>
            <nav class="navbar">
            </nav>
        </div>
<!-- ********* BANDA SUPERIOR *********-->
        <div class="header-content container"></div>
    </header>
<!-- ********* BANDA PRODUCTOS *********-->
    <main class="products container">
        <h2>Resumen de tu Carrito</h2>
        <div class="box-container" id="lista-1"></div>
    </main>

    <section id="total-section" class="total-container">
        <div class="total-box">
            <h3>Total de productos:</h3>
            <p id="total-quantity">0</p>
            <h3>Total a pagar:</h3>
            <p id="total-price">$0</p>
        </div>

        <div class="payment-box">
            <button id="btn-pagar" type="button">Pasar a la Compra!</button>
            <button id="btn-back">Volver</button>
        </div>
    </section>

    <button id="btn-pasar-a-comprar" type="submit">Pasar a la Compra</button>
<!-- ********* BANDA FOOTER *********-->
    <footer class="footer">
        <div class="footer-content container">
            <div class="link">
                <h3>Creado por DAVS</h3>
            </div>   
        </div>
    </footer>

    <script src="/assets/js/cartStockScripts.js"></script>
</body>
</html>
