<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HBS</title>
    <link rel="stylesheet" href="/assets/css/cartPayStyle.css">
</head>
<body>
<!-- ********* MENU SUPERIOR *********-->
    <header class="header">
        <div class="menu container">
                <img src="/assets/images/logo.png" alt="Logo" class="logo-img"> 
            <nav class="navbar">
            </nav>
        </div>
<!-- ********* BANDA SUPERIOR *********-->
        <div class="header-content container"></div>
    </header>
<!-- ********* BANDA PRODUCTOS *********-->
   <body>
    <h1 class="titulo">Gracias por tu Compra!</h1>
    <div class="receipt-container">
        <div class="receipt-card">
            <h2>Comprobante de Pago</h2>
            <p><strong>Correo del Comprador:</strong> <span id="purchaser-email"></span></p>
            <p><strong>Fecha de Compra:</strong> <span id="purchase-date"></span></p>
            <p><strong>Monto Pagado:</strong> <span id="amount-paid"></span></p>
        </div>
    </div>
    <div class="home-button-container">
        <button id="home" type="button">Ir a Home</button>
    </div>

    <script src="/assets/js/cartPayScripts.js"></script>
</body>
</html>