<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HBS</title>
    <link rel="stylesheet" href="/assets/css/cartStyle.css">
</head>
<body>
<!-- ********* MENU SUPERIOR *********-->
    <header class="header">
        <div class="menu container">
                <img src="/assets/images/logo.png" alt="Logo" class="logo-img"> 
            <input type="checkbox" id="menu"/>
            <label for="menu">
                <img src="/assets/images/menu.png" class="menu-icono" alt="menu">
            </label>
            <nav class="navbar">
            </nav>
        </div>
<!-- ********* BANDA SUPERIOR *********-->
        <div class="header-content container"></div>
    </header>
<!-- ********* BANDA PRODUCTOS *********-->
    <main class="products container">
        <h2>Carrito</h2>
        <div class="box-container" id="lista-1"></div>
    </main>

    <div class="contenedor-boton">
    <button id="btn-pasar-a-comprar">Validar Carrito</button>
    <button id="btn-vaciar">Vaciar Carrito</button>
    <button id="btn-back">Volver</button>
</div>
<!-- ********* BANDA FOOTER *********-->
    <footer class="footer">
        <div class="footer-content container">
            <div class="link">
                <h3>Creado por DAVS</h3>
            </div>   
        </div>
    </footer>

    <script src="/assets/js/cartScripts.js"></script>
     <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</body>
</html>