<!-- <!DOCTYPE html> -->
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HBS</title>
    <link rel="stylesheet" href="/assets/css/createUserStyle.css">
</head>
<body>
    <div class="login-box">
        <img class="avatar" src="assets/images/logo.png" alt="Logo">
        <h1>Crear Usuario</h1>

        <form id="register-form">
             <!-- first_name -->
             <label for="first_name">Nombre</label>
             <input type="text" id="first_name" name="first_name"  placeholder="Enter Nombre">
             <!-- last_name -->
             <label for="last_name">Apellido</label>
             <input type="text" id="last_name" name="last_name" placeholder="Enter Apellido">
             <!-- email -->
             <label for="email">Email</label>
             <input type="text" id="email"  name="email" placeholder="Enter Email">
             <!-- age -->
             <label for="age">Edad (optional)</label>
             <input type="text" id="age" name="age" placeholder="Enter Edad">
             <!-- email -->
             <label for="password">Password</label>
             <input type="text" id="password" name="password" placeholder="Enter password">

            <label for="role">Role</label>
             <input type="text" id="role" name="role" placeholder="Enter role -> 'user'|'user-premium'|'admin'">

             <button id="btn-register" type="submit">Registrar</button>
             <button id="btn-back" type="button">Volver</button>

        </form>
    </div>
     <script src="/assets/js/createUserScripts.js"></script> 
     <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</body>
<!-- </html> -->