<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HBS</title>
    <link rel="stylesheet" href="/assets/css/createProductStyle.css">
</head>
<body>
    <div class="login-box">
        <img class="avatar" src="assets/images/logo.png" alt="Logo">
        <h1>Crear Producto</h1>

        <form id="createProduct-form">
             <!-- first_name -->
             <label for="title">title</label>
             <input type="text" id="title" name="titlee"  placeholder="Enter title">
             <!-- last_name -->
             <label for="autor">autor</label>
             <input type="text" id="autor" name="autor" placeholder="Enter autor">
             <!-- email -->
             <label for="description">description</label>
             <input type="text" id="description"  name="description" placeholder="Enter description">
             <!-- age -->
             <label for="code">code</label>
             <input type="text" id="code" name="code" placeholder="Enter code">
             <!-- email -->
             <label for="price">price</label>
             <input type="text" id="price" name="price" placeholder="Enter price">

            <label for="status">status</label>
             <input type="text" id="status" name="status" placeholder="Enter status'">

             <label for="stock">stock</label>
             <input type="text" id="stock" name="stock" placeholder="Enter stock'">

             <label for="category">category</label>
             <input type="text" id="category" name="category" placeholder="Enter category'">

            <label for="thumbnails">thumbnails</label>
             <input type="text" id="thumbnails" name="thumbnails" placeholder="Enter thumbnails'">

             <button id="btn-register" type="submit">Registrar</button>
             <button id="btn-back" type="button">Volver</button>


        </form>
    </div>
     <script src="/assets/js/createProductScripts.js"></script> 
     <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</body>
