<!-- <!DOCTYPE html> -->
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HBS</title>
    <link rel="stylesheet" href="/assets/css/registerStyle.css">
</head>
<body>
    <div class="login-box">
        <img class="avatar" src="assets/images/logo.png" alt="Logo">
        <h1>Registrate</h1>

        <form id="register-form">
             <!-- first_name -->
             <label for="first_name">first_name</label>
             <input type="text" id="first_name" name="first_name"  placeholder="Enter first_name">
             <!-- last_name -->
             <label for="last_name">last_name</label>
             <input type="text" id="last_name" name="last_name" placeholder="Enter last_name">
             <!-- email -->
             <label for="email">Email</label>
             <input type="text" id="email"  name="email" placeholder="Enter email">
             <!-- age -->
             <label for="age">age (optional)</label>
             <input type="text" id="age" name="age" placeholder="Enter age">
             <!-- email -->
             <label for="password">Password</label>
             <input type="text" id="password" name="password" placeholder="Enter password">

             <button id="btn-register" type="submit">Registrar</button>
             <button id="btn-home">Home</button>

        </form>
    </div>
     <script src="/assets/js/registerScripts.js"></script> 
</body>
<!-- </html> -->