<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HBS</title>
    <link rel="stylesheet" href="/assets/css/registerOKStyle.css">
</head>
<body>
    <div class="login-box">
        <img class="avatar" src="assets/images/logo.png" alt="Logo">
        <h1>Registro Exitoso!!</h1>
        <h1>Bienvenido a la mejor Coleccion de Libros de Terror</h1>
        <button id="btn-login" type="submit">Login</button>
        <button id="btn-home" type="submit">Home</button>
    </div>
    <script src="/assets/js/registerOKScripts.js"></script>
</body>
