<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HBS</title>
    <link rel="stylesheet" href="/assets/css/soonStyle.css">
</head>
<body>
    <div class="login-box">

        <h1>PROXIMAMENTE</h1>

        <form id="soon-form">
            <img class="soon-img" src="assets/images/soon.png" alt="Logo">
            <button id="btn-back" type="button">Volver</button>
        </form>
    </div>
     <script src="/assets/js/soonScripts.js"></script> 
</body>
